<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="storedb_development" connectionString="Server=JOSEGARCIA; Database=storedb_development; User Id=tb; Password=tb;" />
    <add name="HarryPotter.DataBase.Tests.Properties.Settings.storedb_developmentConnectionString"
      connectionString="Data Source=JOSEGARCIA;Initial Catalog=storedb_development;Persist Security Info=True;User ID=tb;Password=tb"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>